@using OgrenciNotMvc.Models.Entity
@model List<TBLNOTLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>NOT ID</th>
        <th>DERS</th>
        <th>ÖGRENCİ AD SOYAD</th>
        <th>SINAV 1</th>
        <th>SINAV 2</th>
        <th>SINAV 3</th>
        <th>PROJE</th>
        <th>ORTALAMA</th>
        <th>DURUM</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach(var not in Model)
        {

            <tr>
                <td>@not.NOTID</td>
                <td>@not.TBLDERSLER.DERSAD</td>
                <td>@not.TBLOGRENCILER.OGRAD @not.TBLOGRENCILER.OGRSOYAD</td>
                <td>@not.SINAV1</td>
                <td>@not.SINAV2</td>
                <td>@not.SINAV3</td>
                <td>@not.PROJE</td>
                <td>@not.ORTALAMA</td>
                <td>@not.DURUM</td>
                <td>
                    
                    <a href="/Not/NotGetir/@not.NOTID" class="btn btn-success">GÜNCELLE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Not/YeniSinav" class="btn btn-primary"> Sınav Ekle</a>